{% extends "base.jinja"%}

{% block content %}

<div class="text-container">
    <p>Darren's library was first set up in 2023, in the searing heat of the Edinburgh September summer, to show off his pathetic book collection. It is believed that there are more than just two books in his collection, but it has not been confirmed.</p>
    </div>
</div>

{% endblock %}