<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
      <script src="https://kit.fontawesome.com/3921cbf444.js" crossorigin="anonymous"></script>
      <title>Darren's Library</title>
    </head>
    <body>
      <header>
        <nav>
          <ul>
            <li class="navbar">
                <a href="/books">Home</a>
            </li>
            <li class="navbar">
                <a href="/books/contact">Contact</a>
            </li>
            <li class="navbar">
                <a href="/books/about">About</a>
            </li>
            <li>
                <a href="/books/search"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></a>
            </li>
          </ul>
          <hr>
        </nav>
      </header>
    {% block content %}{% endblock %}
    </body>
</html>