{<html>
    <head>
        <title> {{ title }} - Books </title>
    </head>
    <body>}
        <h1> {{book.title}} </h1>

        <div class="book-container">

            <div class="book">
                <h2> {{ book.author }} </h2>
                <h3> {{ book.genre }} </h3>
            </div>
        </div>
    </body>
</html>