{% extends "base.jinja"%}

{% block content %}
      <main>
        <ul>
          <form class="form-inline" action="/books" method="post">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" required>
            <label for="author">Author</label>
            <input type="text" name="author" id="author" required>
            <label for="genre">Genre</label>
              <select name="genre" id="genre">
                <option disabled selected value>-- select --</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Biography">Biography</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Horror">Horror</option>
                <option value="Thriller">Thriller</option>
                <option value="Romance">Romance</option>
                <option value="Other">Other</option>
            </select>
            <label for="checked_out">Checked out?</label>
            <input type="checkbox" name="checked_out" id="checked_out">
            <input type="submit" value="Add book"> 
          </form>
        <div class="book-container">
          {% for book in books %}
          <div class="book">
            <h2>Title: {{ book.title }}</h2>
            <h3>Author: {{ book.author }}</h3>
            <h4>Genre: {{ book.genre }}</h4>

            <fieldset>
              <legend>Book status</legend>
                <input type="radio" id="checked-in" name="in-or-out - {{ book.title }}" value="checked-in"/>
                <label for="checked-in">Check-in</label>
                <input type="radio" id="checked-out" name="in-or-out - {{ book.title }}" value="checked-out"/>
                <label for="checked-out">Check-Out</label>
            </fieldset>

            {% if book.checked_out %}
              <p><i>Unavailable &#10060</i></p>
              {% else %}
                <p><i>Available &#9989</i></p>
            {% endif %}

            <a href="/books/{{books.index(book)}}">Show Details</a>
            <br>
            <form class="form" action="/books/delete/{{ book.title }}" method="POST">
            <input type="submit" value="Delete">
            </form>
          </div>
          {% endfor %}
        </div>
      </main>
    {% endblock %}
